In [18]:
import pandas as pd
import numpy as np
import math as ma

In [19]:
data=pd.read_csv(r"titanic_x_y_train.csv",delimiter=",")
ta=data.copy()

In [20]:
#a=ta[ta.Sex=="male"]
#b=ta[ta.Sex=="female"]
#ta.loc[(ta["Age"].isnull()) & (ta.Sex=="male"),"Age"]=a.Age.mean()
#ta.loc[(ta["Age"].isnull()) & (ta.Sex=="female"),"Age"]=a.Age.mean()

In [21]:
def func(s):
    if s=="male":
        
        
        return 1
    else:
        return 2


ta["Gender"]=ta.Sex.apply(func)
del ta["Sex"]
del ta["Name"]

In [22]:
def func1(s):
    if s=="S":
        
        
        return 1
    if s=="Q":
        
        return 2
    else:
        return 3
ta["emb"]=ta.Embarked.apply(func1)

In [23]:
ta.drop(["Ticket","Cabin","Fare","Embarked"], axis = 1,inplace=True)

In [24]:
#a=ta[ta.Gender==1]
#b=ta[ta.Gender==2]
a=ta.loc[(ta["Survived"]==1) & (ta.Gender==1)]
b=ta.loc[(ta["Survived"]==1) & (ta.Gender==2)]
c=ta.loc[(ta["Survived"]==0) & (ta.Gender==2)]
d=ta.loc[(ta["Survived"]==0) & (ta.Gender==2)]

ta.loc[(ta["Age"].isnull()) & (ta.Gender==1) & (ta.Survived==1),"Age"]=a.Age.mean()
ta.loc[(ta["Age"].isnull()) & (ta.Gender==2) & (ta.Survived==1),"Age"]=b.Age.mean()
ta.loc[(ta["Age"].isnull()) & (ta.Gender==2) & (ta.Survived==0),"Age"]=c.Age.mean()
ta.loc[(ta["Age"].isnull()) & (ta.Gender==1) & (ta.Survived==0),"Age"]=d.Age.mean()
#ta.loc[(ta["Age"].isnull()) & (ta.Gender==2),"Age"]=b.Age.mean()

In [25]:
ta

     Pclass        Age  SibSp  Parch  Survived  Gender  emb
0         2  29.000000      1      0         1       2    1
1         3  26.367347      0      0         0       1    1
2         2  39.000000      0      0         0       1    1
3         3  29.000000      0      4         0       2    1
4         3  25.000000      0      0         0       1    1
5         3  34.500000      0      0         0       1    3
6         1  35.000000      1      0         1       2    1
7         3  23.000000      0      0         0       1    1
8         2  27.437500      0      0         1       1    1
9         3  50.000000      0      0         0       1    1
10        3  23.000000      0      0         1       2    1
11        3  26.367347      0      0         0       1    3
12        2  36.000000      0      0         0       1    1
13        3  26.367347      1      0         0       1    2
14        3  28.488487      0      0         1       2    2
15        3  28.000000      2      0         0       1    1
16        3  32.000000      0      0         1       1    1
17        3  42.000000      0      0         0       1    1
18        1  38.000000      0      1         0       1    1
19        3  28.488487      0      0         1       2    2
20        1  38.000000      0      0         0       1    1
21        3  26.367347      0      2         0       2    3
22        2  40.000000      0      0         1       2    1
23        3  24.500000      0      0         0       1    1
24        3  28.488487      0      0         1       2    3
25        3  26.367347      8      2         0       2    1
26        1  39.000000      0      0         0       1    1
27        1  22.000000      0      0         0       1    3
28        3  16.000000      0      0         0       1    1
29        2  30.000000      0      0         0       1    1
..      ...        ...    ...    ...       ...     ...  ...
638       3  24.000000      2      0         0       1    1
639       2  22.000000      1      2         1       2    3
640       3  26.367347      3      1         0       2    1
641       3  32.000000      0      0         1       1    1
642       1  42.000000      0      0         1       1    1
643       3  17.000000      0      0         0       1    1
644       1  26.367347      0      0         0       1    1
645       2   0.830000      1      1         1       1    1
646       3   9.000000      2      2         0       2    1
647       1  58.000000      0      0         0       1    3
648       2  28.000000      0      1         0       1    1
649       3  26.000000      0      0         0       1    1
650       3  47.000000      0      0         0       1    1
651       3  26.367347      1      0         0       1    1
652       2  33.000000      1      2         1       2    1
653       3  47.000000      1      0         0       2    1
654       3  26.367347      0      0         0       1    1
655       1  42.000000      1      0         1       1    1
656       3  36.000000      0      0         0       1    1
657       3  38.000000      0      0         0       1    1
658       3  38.000000      1      5         1       2    1
659       3  26.367347      0      0         0       1    2
660       2   1.000000      2      1         1       1    1
661       1  28.488487      1      0         1       2    3
662       1  47.000000      0      0         0       1    1
663       2  17.000000      0      0         1       2    1
664       3  26.367347      0      0         0       1    2
665       3  32.000000      0      0         1       1    1
666       3  22.000000      0      0         0       2    1
667       3  28.488487      1      0         1       2    2

[668 rows x 7 columns]

In [26]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
y=ta.Survived
x=ta.drop(["Survived"],axis=1)
clf.fit(x,y)
clf.score(x,y)

C:\Users\Psyfer\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7859281437125748

In [27]:
test=pd.read_csv(r"titanic_x_test.csv",delimiter=",")
tc=test.copy()

In [28]:
tc["Gender"]=tc.Sex.apply(func)
del tc["Sex"]
del tc["Name"]

In [29]:
tc["emb"]=tc.Embarked.apply(func1)

In [30]:
tc.drop(["Ticket","Cabin","Fare","Embarked"], axis = 1,inplace=True)

In [31]:

a=tc[tc.Gender==1]
b=tc[tc.Gender==2]

tc.loc[(tc["Age"].isnull()) & (tc.Gender==1),"Age"]=a.Age.mean()
tc.loc[(tc["Age"].isnull()) & (tc.Gender==2),"Age"]=b.Age.mean()

In [32]:
y_pred=clf.predict(tc)
df=pd.DataFrame(y_pred)
df.to_csv("testcsf.csv",header=True,index=False,sep=',',float_format="%.14f")
np.savetxt("testcsf.csv",df,delimiter=';',fmt='%.14f')

In [ ]:
clf.score(x,y)

In [ ]:
ta.loc[(ta["Survived"]==1) & (tc.Gender==1),"Age"]

In [ ]:
df